body {
    background-color: #bcecbc;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
 

  .top-container {
    background-color: #174422;
    position: relative;
    padding-top: 100px;
  }
  .middle-container {
    margin: 100px 0;
   
  }  
  a{
    color: #08530c;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #3db874;
  }
  h1 {
    color: #08530c;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  h2 {
    color: #08530c;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  } 
  h3 {
    color: #08530c;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    line-height: 2;
  }



.cloud-two { position: absolute;
    left: 250px;
    bottom: 300px;

} 
.cloud-one{
    position: absolute;
    right: 300px;
    top: 40px;
}
hr {
    border: dotted #115208 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }

  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  .intro {
    width: 30%;
    margin: auto;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  hr {
    border: dotted #115208 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  .copyright {
    color: #6de79c;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  .chilli-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    
  }
  .bottom-container {
    background-color: #115208;
    padding: 50px 0 20px;
  }
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #6fa8d6, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e4eee3;
  background: linear-gradient(bottom, #11cdd4 5%, #11999e 100%);
  }
  .footer-link{
    color: #ffffff;
  }